.navbar-wrap {
    width: 95%;
    margin: 1rem auto 0;
    border-radius: 10px;
    height: 75px;
    display: flex;
    justify-content: center;
}

.nav-container{
    font-size: 22px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container a {
    color: aliceblue;
    border-radius: 10px;
    padding: 0 1rem;
    text-decoration: none;
    margin: 0 2rem;
}

.no-user-navbar-bg {
    background: linear-gradient(0.45turn, #BE563A, #2C313B, #BE563A);
}

.yes-user-navbar-bg {
    background-color: antiquewhite;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.active-route-link {
    color: #2C313B !important; 
    background-color: aliceblue;
}