/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

/* Global bootstrap like classes */
.pos-rel {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}


/* Global app classes */
.form-container {
    max-width: 15%; 
    margin: auto;
    margin-top: 2rem;
}

.form-container > p {
    text-align: center;
}

.credentials-form {
    margin: auto;
}

.credentials-form label {
    font-size: 12px;
}

.credentials-form-input-container input, p {
    width: 100%;
    margin-bottom: 1rem;
}

.credentials-form-input-container input {
    border: none;
    border-left: 1px solid #2C313B;
    border-bottom: 1px solid #2C313B;
    border-bottom-left-radius: 5px;
    outline: none !important;
    font-size: 12px;
    color: #2C313B;
    background-color: none;
}

.credentials-form-input-container p {
    border-radius: 5px;
    box-shadow: 1px 1px 4px gray;
}

.credentials-form-input-container div {
    padding-right: 0.5rem;
}

.credentials-form-label {
    user-select: none;
    top: 0;
    left: 0rem;
    z-index: 2;
    padding-left: 0.5rem;
    background: linear-gradient(0.45turn, #BE563A, #2C313B, #BE563A);
    color: white;
}

.credentials-form-label span {
    margin: 0 0.5rem;
}

.credentials-form-label span > i {
    margin-top: 0.25rem;
}

.credentials-form-label:hover {
    cursor: pointer;
}

.form-submit-btn-container {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-submit-btn {
    padding: 0rem 0.3rem;
    color: white;
    background-color: #2C313B;
    border-radius: 5px;
}